<li>
    <div class="photo-card">
        <img src="{{ webformatURL }}" alt="{{ tags }}" />

        <div class="stats">
            <p class="stats-item">
                <i class="material-icons">thumb_up</i>
                {{likes}}
            </p>
            <p class="stats-item">
                <i class="material-icons">visibility</i>
                {{views}}
            </p>
            <p class="stats-item">
                <i class="material-icons">comment</i>
                {{comments}}
            </p>
            <p class="stats-item">
                <i class="material-icons">cloud_download</i>
                {{downloads}}
            </p>
        </div>
    </div>
</li>

{{!-- id: 434918
pageURL: "https://pixabay.com/photos/legs-window-car-dirt-road-relax-434918/"
type: "photo"
tags: "legs, window, car"
previewURL: "https://cdn.pixabay.com/photo/2014/09/03/20/15/legs-434918_150.jpg"
previewWidth: 150
previewHeight: 100
webformatURL: "https://pixabay.com/get/52e3d14a4b5ab10ff3d8992cc62d3e7d1736d7ec4e50744173287bdc9644c5_640.jpg"
webformatWidth: 640
webformatHeight: 429
largeImageURL: "https://pixabay.com/get/52e3d14a4b5ab108f5d0846096293277163dd7ec5a4c704c7d297cd49f4ccc58_1280.jpg"
imageWidth: 2165
imageHeight: 1453
imageSize: 587598
views: 538909
downloads: 208096
favorites: 1630
likes: 1277
comments: 210
user_id: 2323
user: "Greyerbaby"
userImageURL: "https://cdn.pixabay.com/user/2014/11/14/05-39-07-629_250x250.jpg" --}}